<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5c63eb86-ee9a-4238-9e0e-ee4bad29b087" name="Initial_Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5c63eb86-ee9a-4238-9e0e-ee4bad29b087fileName">Initial_Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>Run_count</con:name>
      <con:value>3145</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
