<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="df198dcc-cfc4-4009-8b00-eb74a142cac9" wadlVersion="http://wadl.dev.java.net/2009/02" name="get all invited member" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="df198dcc-cfc4-4009-8b00-eb74a142cac9fileName">get-all-invited-member</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
